@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* Variables */
:root {
    --color-logo: #e87121;
    --color-button: #0060a3;
    --color-selected-button: #003774;
    --color-background: #dee1e6;
    --color-navbar: white;
    --color-menus: white;
    --color-alert: #c70000;
    --color-text-light: white;
    --color-text-dark: black;
    --color-border-dark: black;
    --color-border-disabled: gray;
    --color-shadow: gray;
    --color-hint: #808080;
    --border-radius-buttons: 4px;
    --border-radius-cards: 8px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    position: fixed;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px lightgray solid;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    filter: opacity(0.5);
}

/* Configuracion de todos los componentes */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--color-background);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Botones de toda la aplicacion */

.container__button-cancelar {
    padding: 16px 24px;
    font-size: 16px;
    background: var(--color-alert);
    color: var(--color-text-light);
    border: none;
    border-radius: var(--border-radius-buttons);
    cursor: pointer;
}

.container__button-cancelar:active {
    filter: opacity(0.6);
}

.container__button-aceptar {
    padding: 16px 24px;
    font-size: 16px;
    background: var(--color-button);
    color: var(--color-text-light);
    border: none;
    border-radius: var(--border-radius-buttons);
    cursor: pointer;
}

.container__button-aceptar:disabled {
    pointer-events: none;
    filter: opacity(0.6);
}

.container__button-aceptar:active {
    filter: opacity(0.6);
}

/* Estilos de los mensajes de los formularios */

.container__form-alert {
    margin: 16px;
    text-align: center;
    font-size: 14px;
    color: var(--color-alert);
}

.container__form-success {
    margin: 16px;
    text-align: center;
    font-size: 14px;
}

/* Estilos de mensajes de carga */

.container__loading-msg {
    text-align: center;
}

.container__loading-msg p {
    margin: 16px;
}