.container__single-empleado hr {
    border: none;
    height: 2px;
    background-color: var(--color-text-dark);
}

.container__single-empleado_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container__single-empleado_header div {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.container__single-empleado_header-toggleinfo {
    background: none;
    border: none;
    flex: 2;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    padding: 17px 0;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
}

.container__single-empleado_header-toggleinfo:active {
    filter: opacity(0.6);
}

.container__single-empleado_header-toggleinfo svg {
    margin-left:32px;
    color: var(--color-button);
}

.container__single-empleado_header-actionbtns {
    margin-left: 32px;
}

.container__single-empleado_header div > span {
    margin: 0 12px;
}

.container__single-empleado_header-nombre {
    font-weight: 400;
    font-size: 20px;
}

.container__single-empleado_header-cargo {
    font-weight: 400;
    font-size: 20px;
    color: var(--color-hint);
}

.container__single-empleado_header-contratado {
    font-weight: 700;
    margin-left: 32px;
}

.container__single-empleado_header-contratado_true {
    color: var(--color-confirmation);
}

.container__single-empleado_header-contratado_false {
    color: var(--color-alert);
}


.container__single-empleado_info {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--color-text-dark);
    border-radius: var(--border-radius-cards);
    padding: 16px;
    margin-bottom: 16px;
}

.container__single-empleado_info-left {
    flex: 2;
}

.container__single-empleado_info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.container__single-empleado_info-row aside {
    flex: 1;
    text-align: end;
    margin-right: 32px;
}

.container__single-empleado_info-row_data {
    flex: 2;
    word-break: break-word;
}

.container__single-empleado a {
    color: var(--color-button);
}

.container__single-empleado_info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.container__single-empleado_info-deletebtn {
    border: none;
    background: transparent;
    padding: 4px;
    font-size: 24px;
    color: var(--color-alert);
    filter: contrast(0);
    cursor: pointer;
}

.container__single-empleado_info-deletebtn:hover {
    filter: none;
}

.container__single-empleado_info-updatebtn {
    margin-left: 8px;
    padding: 4px;
    font-size: 24px;
    filter: contrast(0);
    cursor: pointer;
}

.container__single-empleado_info-updatebtn:hover {
    filter: none;
}
