.container__single-empleado {
    border: 1px var(--color-shadow) solid;
    background: var(--color-menus);
    border-radius: var(--border-radius-cards);
    margin-bottom: 24px;
}

.container__single-empleado_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container__single-empleado_header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container__single-empleado_header-toggleinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    flex: 2;
    padding: 24px;
    cursor: pointer;
    font-size: var(--font-size-regular);
    text-align: left;
}

.container__single-empleado_header-toggleinfo:active {
    filter: opacity(0.6);
}

.container__single-empleado_header-toggleinfo svg {
    margin-left: 32px;
    color: var(--color-button);
}

.container__single-empleado_header-actionbtns {
    margin-left: 32px;
}

.container__single-empleado_header div > span {
    margin: 0 12px;
}

.container__single-empleado_header-nombre {
    font-weight: 400;
    font-size: var(--font-size-big);
}

.container__single-empleado_header-cargo {
    font-weight: 400;
    font-size: var(--font-size-big);
    color: var(--color-hint);
}

.container__single-empleado_header-contratado {
    font-weight: 700;
    margin-left: 32px;
    text-align: end;
}

.container__single-empleado_header-contratado_true {
    color: var(--color-confirmation);
}

.container__single-empleado_header-contratado_false {
    color: var(--color-alert);
}

.container__single-empleado_info {
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    margin-bottom: 16px;
    border-top: 1px var(--color-border-dark) solid;
}

.container__single-empleado_info-left {
    flex: 2;
    margin-top: 16px;
}

.container__single-empleado_info-right {
    margin-top: 16px;
    text-align: end;
}

.container__single-empleado_info-row {
    margin: 0 0 8px 12px;
}

.container__single-empleado_info-row h3 {
    font-weight: 400;
    font-size: var(--font-size-regular);
}

.container__single-empleado_info-row aside {
    margin-top: 8px;
    font-weight: 400;
    font-size: var(--font-size-smaller);
    color: var(--color-hint);
}

.container__single-empleado_info-row p,
a {
    font-size: var(--font-size-small);
}

.container__single-empleado_info-row div {
    margin-left: 24px;
}

.container__single-empleado_info-row_data {
    word-break: break-word;
}

.container__single-empleado a {
    color: var(--color-button);
}

.container__single-empleado_info-deletebtn {
    border: none;
    background: transparent;
    padding: 4px;
    font-size: var(--font-size-bigger);
    color: var(--color-alert);
    filter: contrast(0);
    cursor: pointer;
}

.container__single-empleado_info-deletebtn:hover {
    filter: none;
}

.container__single-empleado_info-deletebtn:disabled {
    pointer-events: none;
    filter: opacity(0.3) contrast(0);
}

.container__single-empleado_info-updatebtn {
    margin-left: 8px;
    margin-right: 16px;
    padding: 4px;
    font-size: var(--font-size-bigger);
    filter: contrast(0);
    cursor: pointer;
}

.container__single-empleado_info-updatebtn:hover {
    filter: none;
}
