.container__prod-empleados {
    padding: 32px;
}

.container__prod-empleados_card {
    margin: auto;
    min-width: 1000px;
    max-width: 80%;
}

.container__prod-empleados_card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.container__prod-empleados_card-top div {
    display: inherit;
    align-items: inherit;
}

.container__prod-empleados_card-top h1 {
    font-weight: 400;
}

.container__prod-empleados_card-top a {
    text-decoration: none;
}

.container__prod-empleados_card-top a:active {
    filter: opacity(0.6);
}

.container__prod-empleados_card-bottom {
    display: flex;
    flex-direction: row;
}

.container__prod-empleados_card-menu {
    background: var(--color-menus);
    border-radius: var(--border-radius-cards);
    border: 1px var(--color-shadow) solid;
    min-height: 500px;
    padding: 24px;
    flex: 1;
}

.container__prod-empleados_card-menu_name {
    font-size: var(--font-size-regular);
    color: var(--color-hint);
    margin-bottom: 16px;
}

.container__prod-empleados_card-menu_propname {
    font-weight: 400;
    font-size: var(--font-size-regular);
    margin-bottom: 8px;
}

.container__prod-empleados_card-list {
    max-height: 500px;
    overflow-y: scroll;
    padding-left: 32px;
    flex: 4;
}

.container__prod-empleados_card-list::-webkit-scrollbar-track {
    display: none;
}

.container__prod-empleados_card-list_chart {
    margin-bottom: 24px;
}