.container__formedit-empleados {
    padding: 23px;
}

.container__formedit-empleados a {
    text-decoration: none;
}

.container__formedit-empleados_card {
    background: var(--color-menus);
    width: 800px;
    margin: auto;
    border-radius: var(--border-radius-cards);
    padding: 18px 31px;
    box-shadow: 0px 0px 10px var(--color-shadow);
}

.container__formedit-empleados_card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    color: var(--color-text-dark);
}

.container__formedit-empleados_card-header h1 {
    font-weight: 400;
    font-size: 38px;
}

.container__formedit-empleados_card-header a {
    color: inherit;
}

.container__formedit-empleados_card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_formedit-empleados_card-row_right {
    flex: 1;
}

.container_formedit-empleados_card-row_left {
    flex: 1;
    margin-right: 26px;
}

.container__formedit-empleados_card-row_calle {
    flex: 2;
}

.container__formedit-empleados_card-row_altura {
    flex: 1;
}

.container__formedit-empleados_card-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.container__formedit-empleados_card-btns button {
    margin-left: 16px;
}